<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メインメニュー</title>
</head>
<body>
	<p>一覧表示</p>
	<p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red">
		エラーメッセージ
	</p>
	<table border="1" width="300">
		<thead>
			<tr>
				<th>書籍名</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="books : ${books}">
				<td th:text="${books.book_name}"></td>
				<td><a th:href="@{/mainMenu/{id}(id=${books.id})}">詳細</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>