<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.ReviewsMapper">
	<select id="selectAll"
		resultType="com.example.demo.entity.Reviews">
		SELECT id, emp_id, rating, comment, book_id,created_at as
		createdAt, updated_at as updatedAt FROM reviews
	</select>

	<select id="selectById"
		resultType="com.example.demo.entity.Reviews">
		SELECT id, emp_id, rating, comment, book_id,created_at as
		createdAt, updated_at as UpdatedAt FROM reviews WHERE id = #{book_id}
	</select>

	<insert id="insert">
		INSERT INTO reviews
		(emp_id,rating,comment,book_id,created_at,updated_at)
		VALUES
		(#{emp_id}, #{rating}, #{comment}, #{id}, CURRENT_TIMESTAMP,
		CURRENT_TIMESTAMP)
	</insert>

	<update id="update">
		UPDATE reviews SET rating = #{rating}, comment =
		#{comment}, updated_at = CURRENT_TIMESTAMP WHERE id = #{id}
	</update>

	<delete id="delete">
		DELETE FROM reviews WHERE book_id = #{book_id} AND
		emp_id = #{emp_id}
	</delete>

	<delete id="deleteAll">
		DELETE FROM reviews WHERE book_id = #{book_id}
	</delete>

	<select id="selectReviewsByUserIdAndBookId"
		resultType="com.example.demo.entity.Reviews">
		SELECT id, comment, emp_id, book_id
		FROM reviews
		WHERE emp_id
		= #{empId} AND book_id = #{bookId}
	</select>
</mapper>